# Importing Libraries

In [1]:
import pandas as pd
import numpy as np
from z3 import *
import sys
sys.path.append('../../scripts/biota/')
from BIoTA_Control import *

# Fixed Parameter

In [2]:
CO2_FRESH_AIR = 400             # CO2 concentration (ppm) of fresh air
TEMP_FRESH_AIR = 91.4           # Temperature (33 degree F) of the fresh air
CP_AIR = 1.026                  # Specific heat of fresh air
DEF_TEMP_SUPPLY_AIR =  55.4     # Default temperature (degree fahrenheit) of supply air (13 degree celsius)
COST_PER_KWH = 0.1137           # USD Cost per KWh

# Variable Parameters

In [3]:
zone_temp_setpoint = [0, 75.2, 75.2, 75.2, 75.2]     # list of temperature (fahrenheit) setpoint of the different zones
zone_co2_setpoint = [0, 1000, 1000, 1000, 1000]      # list of CO2 (ppm) setpoint of the corresponding zones
control_time = 1                                     # control time (in minute)

# Accessing Zone-Activity Information

In [4]:
zones = pd.read_excel('../../data/Aras-Information.xlsx', sheet_name='Zone-Info')
zone_volume = zones["Volume (cf)"].to_list()                  # Zones' volumes (cubic feet)
pp_co2 = zones["CO2 Emission by Occupant (cfm)"].to_list()    # CO2 Emission by Occupant (cfm)
pp_heat = zones["Heat Radiation by Occupant (W)"].to_list()   # Heat Radiation by Occupant (W)
load = zones["Heat Radiated by Appliances (W)"].to_list()     # Heat radiated by Appliances (W)
        
activities = pd.read_excel('Aras-Information.xlsx', sheet_name='Activity-Info')

activity_zone_map = dict()
for i in range(len(activities)):
    activity_zone_map[int(activities["Activity ID"][i])] = int(activities["Zone ID"][i])

# Generating Possible Combination of Occupants

In [5]:
import itertools
all_samples = list(itertools.permutations([1, 1, 0, 0, 0]))
all_samples += list(itertools.permutations([2, 0, 0, 0, 0]))
# however, there are repetations

unique_samples = set()

for data in all_samples:    
    unique_samples.add(data)
    
unique_samples

{(0, 0, 0, 0, 2),
 (0, 0, 0, 1, 1),
 (0, 0, 0, 2, 0),
 (0, 0, 1, 0, 1),
 (0, 0, 1, 1, 0),
 (0, 0, 2, 0, 0),
 (0, 1, 0, 0, 1),
 (0, 1, 0, 1, 0),
 (0, 1, 1, 0, 0),
 (0, 2, 0, 0, 0),
 (1, 0, 0, 0, 1),
 (1, 0, 0, 1, 0),
 (1, 0, 1, 0, 0),
 (1, 1, 0, 0, 0),
 (2, 0, 0, 0, 0)}

# Tabulate the Control Costs for all Possible Combinations

In [6]:
# convert list to a tuple
def to_tuple(a):
    try:
        return tuple(to_tuple(i) for i in a)
    except TypeError:
        return a
    
dict_control_cost = dict()
for sample in unique_samples:
    zone_occupant = list(sample)    
    dict_control_cost[sample] = control_cost(zones, zone_occupant, zone_temp_setpoint, zone_volume, pp_co2, pp_heat, load, zone_co2_setpoint, control_time)
dict_control_cost

{(1, 0, 1, 0, 0): 0.0007955147465,
 (1, 1, 0, 0, 0): 0.0007418396295,
 (0, 0, 1, 0, 1): 0.00420112231555,
 (2, 0, 0, 0, 0): 0.0,
 (0, 0, 0, 2, 0): 0.0127561109392,
 (0, 0, 0, 0, 2): 0.0068112151381,
 (0, 1, 0, 0, 1): 0.00414744719855,
 (1, 0, 0, 0, 1): 0.00340560756905,
 (0, 0, 1, 1, 0): 0.0071735702161000005,
 (0, 2, 0, 0, 0): 0.001483679259,
 (0, 0, 0, 1, 1): 0.00978366303865,
 (0, 1, 0, 1, 0): 0.0071198950991,
 (0, 0, 2, 0, 0): 0.001591029493,
 (0, 1, 1, 0, 0): 0.0015373543760000001,
 (1, 0, 0, 1, 0): 0.0063780554696}

# BIoTA Control Cost Calculation for House-A

In [9]:
# reading processed dataset
control_costs = []
processed_dataframe_house_A = pd.read_csv('../../data/processed/Processed-Dataframe_House-A.csv')
for i in range(len(processed_dataframe_house_A)):
    zone_occupants = to_tuple(processed_dataframe_house_A.iloc[i][3:].values)
    control_costs.append(dict_control_cost[zone_occupants])
processed_dataframe_house_A['Control Cost ($)'] = control_costs

processed_dataframe_house_A.to_csv('../../data/biota/BIoTA-Dataframe_House-A.csv', index = False)
processed_dataframe_house_A

,House,Day,Minute,Outdoor (Zone - 0) Occupant,Bedroom (Zone - 1) Occupant,Livingroom (Zone - 2) Occupant,Kitchen (Zone - 3) Occupant,Bathroom (Zone - 4) Occupant,Control Cost ($)
0,A,1,0,0,1,1,0,0,0.001537
1,A,1,1,0,1,1,0,0,0.001537
2,A,1,2,0,1,1,0,0,0.001537
3,A,1,3,0,1,1,0,0,0.001537
4,A,1,4,0,1,1,0,0,0.001537
...,...,...,...,...,...,...,...,...,...
43195,A,30,1435,1,0,1,0,0,0.000796
43196,A,30,1436,1,0,1,0,0,0.000796
43197,A,30,1437,1,0,1,0,0,0.000796
43198,A,30,1438,1,0,1,0,0,0.000796
43199,A,30,1439,1,0,1,0,0,0.000796

# BIoTA Control Cost Calculation for House-B

In [8]:
# reading processed dataset
control_costs = []
processed_dataframe_house_B = pd.read_csv('../../data/processed/Processed-Dataframe_House-B.csv')
for i in range(len(processed_dataframe_house_B)):
    zone_occupants = to_tuple(processed_dataframe_house_B.iloc[i][3:].values)
    control_costs.append(dict_control_cost[zone_occupants])
processed_dataframe_house_B['Control Cost ($)'] = control_costs

processed_dataframe_house_B.to_csv('../../data/biota/BIoTA-Dataframe_House-B.csv', index = False)
processed_dataframe_house_B

,House,Day,Minute,Outdoor (Zone - 0) Occupant,Bedroom (Zone - 1) Occupant,Livingroom (Zone - 2) Occupant,Kitchen (Zone - 3) Occupant,Bathroom (Zone - 4) Occupant,Control Cost ($)
0,B,1,0,0,2,0,0,0,0.001484
1,B,1,1,0,2,0,0,0,0.001484
2,B,1,2,0,2,0,0,0,0.001484
3,B,1,3,0,2,0,0,0,0.001484
4,B,1,4,0,2,0,0,0,0.001484
...,...,...,...,...,...,...,...,...,...
43195,B,30,1435,0,2,0,0,0,0.001484
43196,B,30,1436,0,2,0,0,0,0.001484
43197,B,30,1437,0,2,0,0,0,0.001484
43198,B,30,1438,0,2,0,0,0,0.001484
43199,B,30,1439,0,2,0,0,0,0.001484